[user]
    email = denis.snagovskiy@list.ru
    name = Denis Snagovskiy

[credential]
	helper = store

[safe]
	directory = /home/self/Code/work/quiz_be

[core]
    editor = nvim
    pager = delta
	quotepath = falsE

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    light = false    # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)

[merge]
    conflictstyle = diff3

[init]
	defaultBranch = master

[diff]
    colorMoved = default

[alias]
    wip = !git add --all && git commit --all -m WIP  # work in progress
    find-wip = !git log --pretty=reference --grep=WIP
    open-origin = !xdg-open $(git remote get-url origin) &
    backup = !git add --all && git commit --all -m $(date -I) && git push
    diff-dev = !git diff dev... -- ':!*.json' ':!*migrations*'
    apk-bump = !git commit -m 'Bump build version' && git tag $(python -c "from version import __version__; print(__version__)")
[push]
	autoSetupRemote = True
