# ignore everything
/*
/*/

# except:
!/.bashrc
!/.inputrc
!/.gitconfig
!/.git-completion.bash
!/my-packages.txt
!/nvim/init.vim
!/vimium-options.json


# .bashrc & .gitconfig are hard link to ~/.bashrc & ~/.gitconfig
# .inputrc is hard link to ~/.inputrc
