# ignore everything
/*
/*/

# except:
!/.bashrc                   # ~/.bashrc
!/.inputrc                  # ~/.inputrc
!/.gitconfig                # ~/.gitconfig
!/.git-completion.bash
!/my-packages.txt           # pacman -Qs
!/nvim/init.vim
!/vimium-options.json       # export of vimium
!/ipython
!/cmus/autosave             
!/cmus/my.theme             # my fork of ShrekhavingabadDay/cmus-nordic_theme
!/.taskrc                   # ~/.taskrc


# ipython/ipython_config.py > ~/.ipython/profile_default/
# ipython/vi_mode_cursor.py > ~/.ipython/profile_default/startup/
