set editing-mode vi

$if mode=vi
    set show-mode-in-prompt on
    set vi-ins-mode-string \1\e[5 q\e]12;red\a\2
    set vi-cmd-mode-string \1\e[1 q\e]12;green\a\2
    # \1\e[5 q\2   # for colorless cursor
$endif

